In [32]:
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
import urllib.request
from socket import timeout
import logging
import pandas as pd
import numpy as np
import os
import datetime
import requests

In [33]:
path = '../datos_abiertos_covid19.zip'
zipfile = ZipFile(path, 'r')
extracted_file = zipfile.open(zipfile.namelist()[0])
df = pd.read_csv(extracted_file, encoding = "ISO-8859-1")
_ = df
df.shape
df.iloc[:]

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-08-07,0f9404,2,3,25,1,11,25,6,2,...,2,2,2,2,99,1,99,MÃ©xico,99,2
1,2020-08-07,07b035,2,4,1,1,1,1,1,1,...,2,2,2,2,99,1,99,MÃ©xico,99,97
2,2020-08-07,08c8fb,2,4,9,2,9,9,2,2,...,2,2,2,2,99,1,99,MÃ©xico,99,2
3,2020-08-07,1a59f9,2,3,27,1,27,27,4,1,...,2,2,2,2,1,1,99,MÃ©xico,99,97
4,2020-08-07,023a88,2,4,26,1,25,26,55,2,...,2,2,2,2,99,1,99,MÃ©xico,99,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,2020-08-07,0f7538,1,4,19,1,19,19,48,1,...,2,2,2,2,99,3,99,MÃ©xico,99,97
1071702,2020-08-07,0029a3,2,12,11,1,11,11,28,1,...,2,2,2,2,99,3,99,MÃ©xico,99,97
1071703,2020-08-07,091e38,2,4,9,1,9,9,15,1,...,2,2,2,1,99,3,99,MÃ©xico,99,97
1071704,2020-08-07,18f545,2,9,21,2,15,29,31,1,...,2,2,2,2,2,3,99,MÃ©xico,99,97
1071705,2020-08-07,043084,2,12,11,1,11,11,28,1,...,2,2,2,2,99,3,99,MÃ©xico,99,97

In [34]:
df.drop(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'MIGRANTE', 'PAIS_ORIGEN', 'PAIS_NACIONALIDAD'], axis=1, inplace = True) 
#Se eliminan las columnas innecesarias

In [35]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,INMUSUPR,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,2,2,2,99,1,2
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,9999-99-99,...,2,2,2,2,2,2,2,99,1,97
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,2,1,2,2,2,2,2,99,1,2
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,9999-99-99,...,2,1,2,2,2,2,2,1,1,97
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,9999-99-99,...,2,1,2,2,2,2,2,99,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,9999-99-99,...,2,2,2,2,2,2,2,99,3,97
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,9999-99-99,...,2,2,2,2,2,2,2,99,3,97
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,9999-99-99,...,2,2,2,2,2,2,1,99,3,97
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,9999-99-99,...,2,2,2,2,2,2,2,2,3,97
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,9999-99-99,...,2,2,2,2,2,2,2,99,3,97

In [36]:
#convierte a tipo fecha fecha_sintoma 
df['FECHA_SINTOMAS'] = pd.to_datetime(df['FECHA_SINTOMAS'])
#restar columna FECHA_INGRESO menos FECHA_SINTOMAS y guardar en columna dias_dif
df['FECHA_INGRESO'] = pd.to_datetime(df['FECHA_INGRESO'])
df['DIAS_DIF_HOSP'] = (df['FECHA_INGRESO'] - df['FECHA_SINTOMAS'])
df.DIAS_DIF_HOSP = df.DIAS_DIF_HOSP.dt.days
#eliminar todos los dias negativos
df.drop(df[df['DIAS_DIF_HOSP'] < 0].index, inplace = True)
#verificacion
df['DIAS_DIF_HOSP'][df['DIAS_DIF_HOSP'] < 0]

Series([], Name: DIAS_DIF_HOSP, dtype: int64)

In [37]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,2,2,99,1,2,3
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,9999-99-99,...,2,2,2,2,2,2,99,1,97,10
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,1,2,2,2,2,2,99,1,2,7
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,9999-99-99,...,1,2,2,2,2,2,1,1,97,5
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,9999-99-99,...,1,2,2,2,2,2,99,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,9999-99-99,...,2,2,2,2,2,2,99,3,97,9
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,9999-99-99,...,2,2,2,2,2,2,99,3,97,2
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,9999-99-99,...,2,2,2,2,2,1,99,3,97,4
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,9999-99-99,...,2,2,2,2,2,2,2,3,97,0
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,9999-99-99,...,2,2,2,2,2,2,99,3,97,3

In [38]:
#hace una copia ed fecha_def a dias_dif_def
df['BOOL_DEF'] = df["FECHA_DEF"].copy()
#CREAR COLUMNA DE NUMERO DE DIAS DE SINTOMAS A FALLECIMIENTO
#crea columna dias desde sintomas a fallecido
#remplazar en fecha_def 9999 con nan
df["FECHA_DEF"] = df['FECHA_DEF'].replace(['9999-99-99'], np.nan)
#convertir fecha_def a tipo de dato fecha
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF'])
#restar defcha def menos fecha_sintomas
df['DIAS_DIF_DEF'] = (df['FECHA_DEF'] - df['FECHA_SINTOMAS'])
df.DIAS_DIF_DEF = df.DIAS_DIF_DEF.dt.days
df['DIAS_DIF_DEF'] = df['DIAS_DIF_DEF'].replace([np.nan], 0)
df['DIAS_DIF_DEF'] = df['DIAS_DIF_DEF'].astype(int)
#validar si hay dias negativos y eliminarlos
df.drop(df[df['DIAS_DIF_DEF'] < 0].index, inplace = True)
#verificacion
df['DIAS_DIF_DEF'][df['DIAS_DIF_DEF'] < 0]

Series([], Name: DIAS_DIF_DEF, dtype: int64)

In [39]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP,BOOL_DEF,DIAS_DIF_DEF
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,99,1,2,3,2020-06-16,10
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,NaT,...,2,2,2,2,99,1,97,10,9999-99-99,0
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,2,2,2,2,99,1,2,7,2020-05-03,11
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,NaT,...,2,2,2,2,1,1,97,5,9999-99-99,0
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,NaT,...,2,2,2,2,99,1,2,3,9999-99-99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,NaT,...,2,2,2,2,99,3,97,9,9999-99-99,0
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,NaT,...,2,2,2,2,99,3,97,2,9999-99-99,0
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,NaT,...,2,2,2,1,99,3,97,4,9999-99-99,0
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,NaT,...,2,2,2,2,2,3,97,0,9999-99-99,0
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,NaT,...,2,2,2,2,99,3,97,3,9999-99-99,0

In [40]:
#columna defuncion cambia a 0 a los no fallecidos
df['BOOL_DEF'] = df['BOOL_DEF'].replace(['9999-99-99'], 0)
#columna defuncion cambia a 1 los fallecidos
df.loc[df["BOOL_DEF"] != 0, ["BOOL_DEF"]] = 1

In [41]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP,BOOL_DEF,DIAS_DIF_DEF
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,99,1,2,3,1,10
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,NaT,...,2,2,2,2,99,1,97,10,0,0
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,2,2,2,2,99,1,2,7,1,11
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,NaT,...,2,2,2,2,1,1,97,5,0,0
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,NaT,...,2,2,2,2,99,1,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,NaT,...,2,2,2,2,99,3,97,9,0,0
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,NaT,...,2,2,2,2,99,3,97,2,0,0
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,NaT,...,2,2,2,1,99,3,97,4,0,0
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,NaT,...,2,2,2,2,2,3,97,0,0,0
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,NaT,...,2,2,2,2,99,3,97,3,0,0

In [42]:
#Se cambian los valores de 97, 98 y 99 a 2. Se escribe 3 veces por columna a modificar debido a unos errores que encontramos, modificaban datos equivocados
change_to_two_dictionary = ['EMBARAZO', 'RENAL_CRONICA', 'DIABETES', 'INMUSUPR', 'EPOC', 'OBESIDAD', 'OTRO_CASO', 'HIPERTENSION', 'TABAQUISMO', 'CARDIOVASCULAR', 'ASMA', 'OTRA_COM']
for condition in change_to_two_dictionary: 
    df.loc[df[condition] == 97, [condition]] = 2;df.loc[df[condition] == 98, [condition]] = 2;df.loc[df[condition] == 99, [condition]] = 2

In [43]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP,BOOL_DEF,DIAS_DIF_DEF
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,2,1,2,3,1,10
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,NaT,...,2,2,2,2,2,1,97,10,0,0
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,2,2,2,2,2,1,2,7,1,11
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,NaT,...,2,2,2,2,1,1,97,5,0,0
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,NaT,...,2,2,2,2,2,1,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,NaT,...,2,2,2,2,2,3,97,9,0,0
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,NaT,...,2,2,2,2,2,3,97,2,0,0
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,NaT,...,2,2,2,1,2,3,97,4,0,0
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,NaT,...,2,2,2,2,2,3,97,0,0,0
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,NaT,...,2,2,2,2,2,3,97,3,0,0

In [44]:
non_conclusive_dictionary = ['SEXO'] #'TIPO_PACIENTE', 'INTUBADO', 'UCI', 'NEUMONIA',
for condition in non_conclusive_dictionary:
    df.drop(df[df[condition] == 97].index, inplace = True)
    df.drop(df[df[condition] == 98].index, inplace = True)
    df.drop(df[df[condition] == 99].index, inplace = True)

In [45]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP,BOOL_DEF,DIAS_DIF_DEF
0,3,25,1,11,25,6,2,2020-06-09,2020-06-06,2020-06-16,...,2,2,2,2,2,1,2,3,1,10
1,4,1,1,1,1,1,1,2020-04-23,2020-04-13,NaT,...,2,2,2,2,2,1,97,10,0,0
2,4,9,2,9,9,2,2,2020-04-29,2020-04-22,2020-05-03,...,2,2,2,2,2,1,2,7,1,11
3,3,27,1,27,27,4,1,2020-06-25,2020-06-20,NaT,...,2,2,2,2,1,1,97,5,0,0
4,4,26,1,25,26,55,2,2020-03-30,2020-03-27,NaT,...,2,2,2,2,2,1,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,1,2020-08-07,2020-07-29,NaT,...,2,2,2,2,2,3,97,9,0,0
1071702,12,11,1,11,11,28,1,2020-08-06,2020-08-04,NaT,...,2,2,2,2,2,3,97,2,0,0
1071703,4,9,1,9,9,15,1,2020-08-07,2020-08-03,NaT,...,2,2,2,1,2,3,97,4,0,0
1071704,9,21,2,15,29,31,1,2020-08-07,2020-08-07,NaT,...,2,2,2,2,2,3,97,0,0,0
1071705,12,11,1,11,11,28,1,2020-08-07,2020-08-04,NaT,...,2,2,2,2,2,3,97,3,0,0

In [46]:
#Se cambian los valores de 1, 2 e incluso 3 a 0 y 1. Se separa para mantener más claro el proceso
#En SEXO son: 0 - Hombre, 1 - Mujer, 2 - No especificado
#En OTRO_CASO se cambiaron los datos: 1 - 1, 2|97|98 - 0, 99 - 2
#En nacionalidad los datos son: 1- 1, 2|99 - 0 
binary_values_dictionary = ['RESULTADO', 'SEXO', 'INTUBADO', 'NEUMONIA', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM', 'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO', 'OTRO_CASO', 'UCI', 'NACIONALIDAD']
for condition in binary_values_dictionary:
    df.loc[df[condition] == 2, [condition]] = 0
    df.loc[df[condition] == 97, [condition]] = 0
    df.loc[df[condition] == 98, [condition]] = 0
    df.loc[df[condition] == 3, [condition]] = 2
    df.loc[df[condition] == 99, [condition]] = 0
df.loc[df['TIPO_PACIENTE'] == 1, ['TIPO_PACIENTE']] = 0
df.loc[df['TIPO_PACIENTE'] == 2, ['TIPO_PACIENTE']] = 1
df.loc[df['TIPO_PACIENTE'] == 99, ['TIPO_PACIENTE']] = 0

In [47]:
#eliminar los hombres embarazados
df.drop(df[(df['SEXO'] ==0) & (df['EMBARAZO'] ==1)].index, inplace = True)
#verificacion
df['SEXO'][(df['SEXO'] ==0) & (df['EMBARAZO'] ==1)]

Series([], Name: SEXO, dtype: int64)

In [48]:
df.shape
df.iloc[:]

,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,FECHA_SINTOMAS,FECHA_DEF,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,UCI,DIAS_DIF_HOSP,BOOL_DEF,DIAS_DIF_DEF
0,3,25,1,11,25,6,1,2020-06-09,2020-06-06,2020-06-16,...,0,0,0,0,0,1,0,3,1,10
1,4,1,1,1,1,1,0,2020-04-23,2020-04-13,NaT,...,0,0,0,0,0,1,0,10,0,0
2,4,9,0,9,9,2,1,2020-04-29,2020-04-22,2020-05-03,...,0,0,0,0,0,1,0,7,1,11
3,3,27,1,27,27,4,0,2020-06-25,2020-06-20,NaT,...,0,0,0,0,1,1,0,5,0,0
4,4,26,1,25,26,55,1,2020-03-30,2020-03-27,NaT,...,0,0,0,0,0,1,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071701,4,19,1,19,19,48,0,2020-08-07,2020-07-29,NaT,...,0,0,0,0,0,2,0,9,0,0
1071702,12,11,1,11,11,28,0,2020-08-06,2020-08-04,NaT,...,0,0,0,0,0,2,0,2,0,0
1071703,4,9,1,9,9,15,0,2020-08-07,2020-08-03,NaT,...,0,0,0,1,0,2,0,4,0,0
1071704,9,21,0,15,29,31,0,2020-08-07,2020-08-07,NaT,...,0,0,0,0,0,2,0,0,0,0
1071705,12,11,1,11,11,28,0,2020-08-07,2020-08-04,NaT,...,0,0,0,0,0,2,0,3,0,0